.side-bar-container {
  width: 50%;
  position: fixed !important;
  background-color: #007bff;
  height: 100vh;
  z-index: 100;
  float: right;
  right: 0;
  transform: translateX(100%);
  -webkit-animation: anim 5s 1;
  animation: anim 5s 1;
}

@-webkit-keyframes anim {
  0% {
    transform: translateX(100%);
  }
  14.28% {
    transform: translateX(0);
  }
  85.71% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes anim {
  0% {
    transform: translateX(100%);
  }
  14.28% {
    transform: translateX(0);
  }
  85.71% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.side-bar-item-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
.side-bar-item {
  color: #ffffff;
}

.log-out-button {
  margin-top: 100px;
  bottom: 10px;
}
