.sign-up-form-body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #0275d8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.sign-up-form-container {
  width: auto;
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}
