.profile-picture-container {
  width: inherit;
  justify-content: center;
  padding-bottom: 40px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  background-position: center;
  background-size: cover;
}

.gender-dropdown {
  padding-top: 12px;
}

.btn-margin-top {
  margin-top: 12px;
}
